.sv_container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 3rem;
}

.sv {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.sv:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.sv_head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.sv_head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.sv_list {
    padding: 2rem;
}

.sv_list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.sv_list-icon {
    color: var(--color-primary);
    margin-top: 2px;
}

.sv_list p {
    font-size: 0.9rem;
}

/*================ responsive meduim devices ====================*/
@media screen and (max-width: 1024px) {
    .sv_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .sv {
        height: auto;
    }

}

/*================ responsive small devices ====================*/
@media screen and (max-width: 600px) {
    .sv_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}