.container.test_container {
    width: 50%;
    padding-bottom: 4rem;
}

.test_avatar {
    width: 5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid rgba(77, 181, 255, 0.4);
}

.test {
    background:var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.test_review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}


/*================ responsive medium devices ====================*/
@media screen and (max-width: 1024px) {
    .container.test_container{
        width: 60%;
    }
}

/*================ responsive small devices ====================*/
@media screen and (max-width: 600px) {
    .container.test_container{
        width: var(--container-width-sm);
    }

    .test_review {
        width: var(--container-width-sm);
    }
}
